<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Article</title>
  </head>

  <body>
    <h2>Submit Article</h2>

    <form action="/articles/new" method="post">
      <label for="Title">Title</label>
      <input type="text" id="article" name="Title">
      <label for="URL">URL</label>
      <input type="text" id="article" name="URL">
      <label for="Description">Description</label>
      <input type="text" id="article" name="Description">
			<input type="submit" id="Submit" name="Submit">
    </form>
  </body>
</html>
